.container {
  width: 100%;
  margin: auto;
  background: var(--Neutral-50, #f9fafc);
}

.container span {
  color: var(--Primary-400, #714ffd);
  font-size: var(--Font-Size-s, 20px);
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}

.textSection {
  background-color: #f9fafc;
  width: auto;
  height: auto;
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 36px;
  margin-left: 70px;
}

.textSection h2 {
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-2xlg, 56px);
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 20px;
}

.textSection p {
  padding: 5px;
  color: var(--Neutral-600, #6e6e6e);
  font-size: var(--Font-Size-md, 24px);
  font-weight: 500;
  line-height: 130%; /* 31.2px */
}

.profileSection {
  width: 100%;
  height: 100%;
}

.introSection {
  width: 500px;
  display: inline-block;
  border-radius: 25px;
  border: 2px solid var(--Neutral-300, #dadada);

  padding: 51px 43px 38px 44px;
  justify-content: center;
  align-items: center;
}

.introSection p {
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-s, 20px);
  font-weight: 400;
  line-height: 150%; /* 30px */
  padding: 0;
}

.line {
  width: 100%;
  border-top: 2px solid #dadada;
  margin: 30px 0px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profileInfo {
  margin-bottom: 12px;
  display: inline-block;
}

.profileSection {
  display: flex;
  gap: 20px;
  margin-left: 70px;
}

.basicInfo,
.box {
  display: flex;
  justify-content: space-between;
}

.profileInfo h3 {
  color: var(--Primary-400, #714ffd);
  font-size: var(--Font-Size-s, 20px);
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}

.basicInfo span,
.box span {
  color: var(--Primary-400, #714ffd);
  font-family: var(--Font-Family-Body, Pretendard);
  font-size: var(--Font-Size-s, 20px);
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.basicInfo p,
.careInfo p,
.box p {
  display: inline-grid;
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-lg, 28px);
  font-weight: 700;
  line-height: 130%; /* 36.4px */
  margin-top: 20px;
}

.hospitals ul {
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-lg, 24px);
  font-weight: 700;
  line-height: 130%; /* 36.4px */
}

.review {
  width: 100%;
  height: 30%;
  border-radius: 8px;
  background: var(--Secondary-50, #e5f3ff);
  margin: 10px;
}
.review p {
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-s, 24px);
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.costSection {
  background: #714ffd;
  width: 80%;
  padding: 20px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  margin: 70px;
}

.costInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.totalCost {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.costSection h3 {
  display: flex;
  width: 50%;
  height: 10px;
  font-size: 28px;
}
.estimatedCost {
  width: 1722px;
  border-radius: 24px;
  background: var(--Primary-400, #714ffd);
  color: var(--Neutral-100, #f2f2f4);
  padding: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.costDetails p {
  color: var(--Neutral-100, #f2f2f4);
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding: 10px;
}

.costRange p {
  color: var(--Neutral-50, #f9fafc);
  text-align: right;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-align: right;
  padding: 10px;
}

.request {
  display: flex;
  justify-content: center;
  align-items: center;
}
.requestButton {
  border-radius: 8px;
  background: var(--Primary-400, #714ffd);
  color: #f9fafc;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  line-height: 130%;
  padding: 14px 54px;
  gap: 10px;
}

.requestButton:hover {
  background-color: #d2c3fd;
}
