.container {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: var(--Neutral-50, #f9fafc);
}

.textSection {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 200px;
  margin-bottom: 36px;
  margin-left: 100px;
}

.textSection h2 {
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-2xlg, 56px);
  font-weight: 700;
  line-height: 130%;
}

.textSection p {
  color: var(--Neutral-600, #6e6e6e);
  font-size: var(--Font-Size-md, 24px);
  font-weight: 500;
  line-height: 130%; /* 31.2px */
}

.profileSection {
  display: inline-block;
  width: 30%;
  text-align: left;
  padding: 20px;
}

.infoSection {
  width: 60%;
  display: inline-block;
  padding: 20px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profileInfo {
  margin-bottom: 12px;
  display: inline-block;
}

.profileInfo h3 {
  color: var(--Primary-400, #714ffd);
  font-size: var(--Font-Size-s, 20px);
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}

.profileInfo p {
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-lg, 28px);
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 36.4px */
}

.introductionSection {
  margin-bottom: 20px;
}

.introductionSection h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.reviewsSection {
  margin-bottom: 20px;
}

.reviewsSection h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.review {
  margin-bottom: 10px;
}

.rating {
  color: gold;
}

.costSection {
  background: #714ffd;
  width: 100%;
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.costInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.totalCost {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.requestButton {
  width: 100%;
  padding: 15px;
  background: white;
  color: #714ffd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.requestButton:hover {
  background: #5a3fcf;
  color: white;
}
