.register {
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 50px;
}

.register h2 {
  margin-top: 150px;
  margin-bottom: 20px;
  font-size: 30px;
}

section {
  text-align: center;
  width: 100%;
  background-color: #ccc;
}

.register-options {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
