.search {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    margin-top: 20px;
    /* 입력 필드와 버튼 사이의 간격 */
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search:hover {
    background-color: #d2c3fd;
    /* 버튼에 마우스를 올렸을 때의 배경 색상 변경 */
  }