.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input[type="text"],
.form-group input[type="checkbox"],
.form-group select {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-group input[type="checkbox"] {
  width: auto;
}

.add-contact-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #714ffd;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-contact-btn:hover {
  background-color: #5939cb;
}
