.patient-condition-location {
    font-family: Arial, sans-serif;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  .image-section {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-section img {
    max-width: 100%;
    height: auto;
  }
  
  .form-section {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-section h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"] {
    width: 50%;
  }
  .form-group input[type="date"],
  .form-group input[type="time"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group span {
    margin: 0 10px;
  }
  
  .form-navigation {
    display: flex;
    justify-content: space-between;
  }
  
  .form-navigation button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: rgb(245, 247, 249);
    color: #000000;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-navigation button:hover {
    background-color: #0056b3;
  }
  