.recommendedCaregiverList {
  background-color: #f9fafc;
}

.textSection {
  background-color: #f9fafc;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 200px;
  margin-bottom: 36px;
  margin-left: 100px;
  margin: 160 320 100 0;
}

.textSection h2 {
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-2xlg, 56px);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.textSection p {
  color: var(--Neutral-600, #6e6e6e);
  font-size: var(--Font-Size-md, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 31.2px */
}

.card {
  width: 530px;
  height: 400px;
  height: 400px;
  padding: 41px;
  border-radius: 12px;
  border: 2px solid var(--Neutral-300, #dadada);
  background: var(--Neutral-50, #f9fafc);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  align-items: left;
  align-items: left;
  gap: 24px;
  margin-left: 30px;
  margin-bottom: 36px;
}

.card:hover,
.card:focus {
  border: 2px solid var(--Primary-400, #714ffd);
  background: var(--Neutral-50, #f9fafc);
}

.card:hover,
.card:focus {
  border: 2px solid var(--Primary-400, #714ffd);
  background: var(--Neutral-50, #f9fafc);
}

.noReservations {
  margin: 30px;
}

.noReservations h2 {
  font-size: 28px;
}
.noReservations p {
  color: var(--Neutral-700, #5b5b5b);
  font-size: var(--Font-Size-s, 20px);
  font-weight: 600;
  line-height: 150%; /* 30px */
}

.info {
  display: inline-block;
  align-items: flex-start;
  margin-left: 24px;
}

.info h3 {
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-lg, 28px);
  font-weight: 700;
  line-height: 130%; /* 36.4px */
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-lg, 28px);
  font-weight: 700;
  line-height: 130%; /* 36.4px */
}

.info p,
.request p {
  display: flex;
  color: var(--Neutral-600, #6e6e6e);
  font-family: var(--Font-Family-Body, Pretendard);
  font-size: var(--Font-Size-s, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.request h4 {
  margin-top: 24px;
  color: var(--Secondary-600, #4c8df4);
  font-family: var(--Font-Family-Heading, Pretendard);
  font-size: var(--Font-Size-md, 24px);
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
}

.confirmButton {
  display: flex;
  justify-content: center;
}

.confirmButton button {
  display: flex;
  padding: 14px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Neutral-300, #dadada);
  margin: 15px;
}

.confirmButton button:hover {
  background: var(--Primary-300, #9170fd);
}
.confirmButton button:focus {
  background: var(--Violet-500, #4b2cfb);
}

.section h3 {
  color: var(--Primary-400, #714ffd);
  font-size: var(--Font-Size-s, 24px);
  font-weight: 600;
  line-height: 150%; /* 30px */
  margin-left: 30px;
}

.confirmButton {
  display: flex;
  justify-content: center;
}

.confirmButton button {
  display: flex;
  padding: 14px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Neutral-300, #dadada);
  margin: 15px;
}

.confirmButton button:hover {
  background: var(--Primary-300, #9170fd);
}
.confirmButton button:focus {
  background: var(--Violet-500, #4b2cfb);
}

.section h3 {
  color: var(--Primary-400, #714ffd);
  font-size: var(--Font-Size-s, 24px);
  font-weight: 600;
  line-height: 150%; /* 30px */
  margin-left: 30px;
}
