label {
  display: flex;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

label span {
  color: red;
}

h5 {
  color: var(--Neutral-600, #6e6e6e);
  font-size: var(--Font-Size-xs, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  margin-top: 8px;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}
.formSection {
  width: 988px;
  height: 784px;
  background: var(--Neutral-50, #f9fafc);
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.headerTitle {
  font-size: 40px;
}

.steps {
  display: flex;
  gap: 24px;
}

.onStep {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9fafc;
  border-radius: 500px;
  background: var(--Primary-400, #714ffd);
  font-size: 18px;
}

.step {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9fafc;
  border-radius: 500px;
  background: var(--Primary-100, #d2c3fd);
  font-size: 18px;
}

.formGroup {
  display: inline-block;
  height: auto;
  width: 50%;
  margin-top: 32px;
}

.formGroup input[type="text"],
.formGroup input[type="number"],
.formGroup select {
  width: 80%;
  display: inline-block;
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  border: 2px solid var(--Neutral-300, #dadada);
  background: var(--Neutral-100, #f2f2f4);
}

.formGroup select {
  font-size: 18px;
}

.formGroup textarea {
  display: flex;
  width: 160%;
  height: 30px;
  padding: 14px 18px;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.formGroup input:checked {
  border: 1px solid #bd0e0e;
  color: #bd0e0e;
  border-radius: 4px;
}

.selectInput:focus {
  outline-color: #714ffd;
  color: var(--Neutral-800, #333);
  background: var(--Neutral-50, #f9fafc);
}
/* select 박스 스타일 */
.selectInput {
  width: 100%;
  padding: 10px;
  appearance: none; /* 기본 브라우저 스타일 제거 */
  background-repeat: no-repeat;
  background-position: right 10px center;
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-xs, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  border-radius: 4px;
  border: 2px solid var(--Primary-400, #714ffd);
  background: var(--Neutral-50, #f9fafc);
  background-image: url("../../img/arrow_drop_down.png");
}

/* 드롭다운 옵션 스타일 */
.selectInput option {
  height: 300px;
  background-color: #ffffff;
  color: #333333; /* 기본 텍스트 색상 */
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

/* 선택된 옵션 스타일 */
.selectInput option:checked {
  color: #7c5ee3; /* 선택된 텍스트 색상 */
  background-color: #f1f1f1; /* 선택된 배경색 */
}

/* 마우스 오버 및 포커스 상태 */
.selectInput option:hover,
.selectInput option:focus {
  color: #5a4b8c; /* 호버 및 포커스 텍스트 색상 */
}

/* select 요소에 대한 추가 스타일 */
.selectInput:focus {
  outline: none; /* 포커스 시 외곽선 제거 */
  border-color: #7c5ee3; /* 포커스 시 테두리 색상 */
}

.formNavigation {
  align-items: end;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.addContactButton {
  display: flex;
  width: 303px;
  height: 56px;
  padding: 13.5px 68px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Primary-400, #714ffd);
  cursor: pointer;
}

.addContactButton:hover {
  background: var(--Primary-300, #9170fd);
}

.addContactButton:focus {
  background: var(--Violet-500, #4b2cfb);
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.flexRow {
  display: flex;
  justify-content: space-between;
}

.location {
  display: block;
  height: auto;
  margin-top: 32px;
}

.location input[type="text"] {
  width: 90%;
  padding: 14px 18px;
  display: flex;
  margin: 10px;
  border-radius: 4px;
  border: 2px solid var(--Neutral-300, #dadada);
  background: var(--Neutral-100, #f2f2f4);
}

.previousButton {
  display: flex;
  padding: 14px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid var(--Primary-400, #714ffd);
  background: var(--Neutral-50, #f9fafc);
  color: var(--Primary-400, #714ffd);
  text-align: center;
}

.nextButton {
  display: flex;
  padding: 14px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  border-radius: 8px;
  background: var(--Primary-400, #714ffd);
  color: var(--Neutral-50, #f9fafc);
}

.nextButton:hover {
  background: var(--Primary-300, #9170fd);
}

.nextButton:focus {
  background: var(--Violet-500, #4b2cfb);
}
