
.recommendedCaregiverList {
  background-color: #f9fafc;
}

.textSection {
  display: inline-block;
  margin-top: 160px;
  margin-bottom: 32px;
  margin-left: 30px;
}

.textSection h2 {
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-2xlg, 56px);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding: 10px;
}

.textSection p {
  color: var(--Neutral-600, #6e6e6e);
  font-size: var(--Font-Size-md, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 31.2px */
  padding: 10px;
}

.costSection {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.costSection h3 {
  display: flex;
  width: 50%;
  height: 10px;
  font-size: 28px;
}
.estimatedCost {
  width: 1722px;
  border-radius: 24px;
  background: var(--Primary-400, #714ffd);
  color: var(--Neutral-100, #f2f2f4);
  padding: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.costDetails p {
  color: var(--Neutral-100, #f2f2f4);
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding: 10px;
}

.costRange p {
  color: var(--Neutral-50, #f9fafc);
  text-align: right;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-align: right;
  padding: 10px;
}

.listSection {
  width: auto;
  margin: 32px;
  padding: 40px;
  border-radius: 25px;
  border: 2px solid var(--Neutral-300, #dadada);
  background: var(--Neutral-50, #f9fafc);
}

.listSection h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.caregiverList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listTable {
  display: flex;
  margin-left: 60px;
  margin-right: 100px;
}

.listTable h4 {
  color: var(--Neutral-600, #6e6e6e);
  text-align: center;
  font-size: 20px;
  margin-right: 100px;
  margin-bottom: 20px;
}

.experience {
  margin-left: 170px;
}

.careRating {
  margin-left: 220px;
}

.caregiverCard {
  display: flex;
  float: left;
  align-items: center;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid var(--Neutral-300, #dadada);
  background: var(--Neutral-50, #f9fafc);
}

.profilePhoto {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-left: 30px;
  margin-right: 100px;
}

.caregiverInfo {
  display: flex;
  width: 70%;
}

.caregiverInfo h3 {
  color: var(--Neutral-800, #333);
  font-size: var(--Font-Size-lg, 28px);
  font-weight: 700;
  line-height: 130%; /* 36.4px */
}
.caregiverDetails {
  width: 20%;
  margin-right: 60px;
}

.introduction {
  width: 30%;
  color: var(--Neutral-600, #6e6e6e);
  font-size: var(--Font-Size-s, 20px);
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-right: 90px;
}

.requestButton {
  border-radius: 8px;
  background: var(--Primary-400, #714ffd);
  color: #f9fafc;
  padding: 14px 24px;
  align-items: center;
  font-size: 24px;
  color: var(--Neutral-50, #f9fafc);
  text-align: center;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
}

.requestButton:hover {
  background-color: #d2c3fd;
}

div {
  white-space: pre-wrap;
}
